* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.logo-icon {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    position: relative;
}

nav a.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #a855f7;
    left: 0;
    bottom: -5px;
}

nav a:hover {
    opacity: 1;
}

/* NAV BUTTONS */
.nav-buttons {
    display: flex;
    gap: 15px;
}

.login-btn {
    padding: 6px 22px;
    border-radius: 20px;
    border: 2px solid #a855f7;
    background: transparent;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 12px #a855f7;
    transition: 0.3s;
}

.login-btn:hover {
    background: #a855f7;
}

.signup-btn {
    padding: 6px 22px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right, #7c3aed, #9333ea);
    color: white;
    cursor: pointer;
}

/* HERO */
.hero {
    flex: 1;
    margin: 40px 80px;
    border-radius: 40px;
    background: linear-gradient(to right, #6f2dbd, #3b0a91);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

/* HERO LEFT */
.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 14px;
    opacity: 0.9;
}

/* HERO RIGHT */
.hero-right {
    width: 45%;
    display: flex;
    justify-content: center;
}

.image-placeholder {
    width: 100%;
    height: 350px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}
